<ul id="nav-mobile" class="side-nav">
    <li>
        <div class="user-view">
            <a href="#!user" class="user"><i class="material-icons">face</i></a>
            <a href="#!name"><span class="name no-margin">John Doe</span></a>
            <a href="#!email"><span class="email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li class="link" [ngClass]='{"active": pageUrl == "dashboard"}'><a routerLink='dashboard' href="sass.html">Dashboard</a></li>
    <li class="link" [ngClass]='{"active": pageUrl == "scaling-groups"}'><a routerLink='scaling-groups' href="badges.html">Scaling Groups</a></li>
</ul>

<nav *ngIf='!isLoggedIn'>
    <div class="nav-wrapper">
        <a href="#" data-activates="nav-mobile" class="button-collapse left"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo">
            <img src="assets/images/logo.svg" alt="">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink='dashboard' [ngClass]='{"active": pageUrl == "dashboard"}'>Dashboard</a></li>
            <li><a routerLink='scaling-groups' [ngClass]='{"active": pageUrl == "scaling-groups"}'>Scaling Groups</a></li>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>