#nav-mobile
  .user
    i
      font-size: 3em
  li.link
    a
      padding: 0 16px
  a,span
    color: $secondary-color
    font-weight: 500
    transition: all 0.3s ease 
    &.active 
      color: $primary-color
nav
  background-color: #fff
  .button-collapse
    color: $secondary-color
  ul
    a
      color: $secondary-color
      font-weight: 500
      transition: all 0.3s ease 
      &:hover
        background-color: #fff
        color: $primary-color
        box-shadow: inset 0px -2px 0px #0085FF
      &.active 
        color: $primary-color
  .brand-logo
    height: 100%
    margin-left: 20px
    @media #{$medium-and-down}
      margin-left:  0
    img
      height: 30px
      vertical-align: middle
.backdrop-blur
  background-color: rgba(#000,0.4)
  height: 100%
  display: none
  width: 100vw
  // .bg
  position: fixed
  top: 0
  left: 0
  //   // opacity: 0
  z-index: 100
  .loader-bg
    width: 350px
    position: fixed
    top: 50%
    margin: auto
    left: 50%
    z-index: 150
    background: #fff
    height: 200px
    border-radius: 5px
    // box-shadow: 0px 0px 16px rgba(0,0,0,0.4)
    transform: translate(-50%,-50%)
    .wait
      text-align: center
      margin-top: 40px
      font-size: 2.2em
    .center-align
      margin-top: 40px
    @media #{$small-and-down}
      width: 100%
      border-radius: 0
      height: 100%
      .wait
        margin-top: 50%
      .center-align
        margin-top:  24%

