<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="page-title">
                <span>
                  New scaling groups
              </span>
                <div class="right cancel">
                    <a routerLink='/scaling-groups' class="waves-effect waves-teal btn-flat"><i class="material-icons left">remove_circle</i>cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="" class="col s12 m12 l10 offset-l1" [formGroup]='scalingGroupForm' (ngSubmit)='submit()'>
            <div class="row">
                <div class="input-field col s6">
                    <input id="instance-name" type="text" class="validate" formControlName='name'>
                    <label for="instance-name">Scaling group Name</label>
                </div>
                <div class="col s6 drpdwn">
                    <label>Load balancer</label>
                    <select class="browser-default" formControlName="load_balancer_id">
                    <option value="" disabled selected>Choose your option</option>
                    <option *ngFor='let loadBalancer of loadBalancers' [value]="loadBalancer.id">{{loadBalancer.name}}</option>
                  </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="des-instance" type="number" class="validate" formControlName='desired_instance_count'>
                    <label for="des-instance">Desired instances</label>
                </div>
                <div class="input-field col s6">
                    <input id="dmac-instance" type="number" class="validate" formControlName='max_instance_count'>
                    <label for="des-instance">Max instances</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input value='5' id="des-instance" type="number" class="validate" formControlName='cool_down_time'>
                    <label for="des-instance">Cooldown time</label>
                </div>
                <div class="col s6 drpdwn">
                    <label>Snapshot</label>
                    <select class="browser-default" formControlName='snapshot_id'>
                    <option value="" disabled selected>Choose your option</option>
                    <option *ngFor='let snapshot of snapShots' [value]="snapshot.id">{{snapshot.name}}</option>
                  </select>
                </div>
            </div>
            <div class="roww">
                <div class="input-field col s6">
                    <input value='5' id="max-cpu" type="number" class="validate" formControlName='max_cpu_usage'>
                    <label for="max-cpu">Max cpu usage</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="radio-title">
                        Setup Method
                    </div>
                    <p class="radio inline-block" (click)='changeSetupType("bootstrap")'>
                        <input name="setup_type" type="radio" id="radio1" value='bootstrap' formControlName='setup_type' />
                        <label for="radio1">Bootstrap</label>
                    </p>
                    <p class="radio inline-block" style="margin-left: 10px" (click)='changeSetupType("ansible")'>
                        <input name="setup_type" type="radio" id="radio2" value='ansible' formControlName='setup_type' />
                        <label for="radio2">Ansible playbook</label>
                    </p>
                    <p class="radio inline-block" style="margin-left: 10px" (click)='changeSetupType("none")'>
                        <input name="setup_type" type="radio" id="radio3" value='none' formControlName='setup_type' />
                        <label for="radio3">none</label>
                    </p>
                </div>
                <div class="input-field col s12" *ngIf='scriptType == "bootstrap"'>
                    <textarea id="textarea1" class="materialize-textarea" formControlName='bootstrap_script'></textarea>
                    <label for="textarea1">Bootstrap Script</label>
                </div>
                <div class="input-field col s12" *ngIf='scriptType == "ansible"'>
                    <input id="ansible-repo" type="text" class="validate" formControlName='ansible_repo'>
                    <label for="ansible-repo">link to repository</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input value="oldest launch configuration" disabled id="termenation" type="text" class="validate">
                    <label for="termenation">Termenation policy</label>
                </div>
            </div>
            <button class="btn-flat right green  white-text" type="submit">Submit</button>
        </form>
    </div>
</div>
<div class="background">

</div>